.DS_Store
Thumbs.db

Aircall/node_modules/
Aircall/.vite/
Aircall/node_modules/.vite/
Aircall/dist/

Aircall/.env.local
Aircall/.env.*.local

Aircall/npm-debug.log*
Aircall/yarn-debug.log*
Aircall/yarn-error.log*
